.homeStyle {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    color: #0D0D0D;
    font-Size: 16px;
  }
  h3 {
      font-size: 34px !important;
      font-weight: 700;   
  }
  
  .col-form-label {
      font-size: 17px !important;
      font-weight: 500;  
  }
  .form-control {
    font-size: 16px !important;
    font-weight: 400; 
  }
  th {
      white-space: nowrap;   
      height: 60px; 
      text-align: center;
      vertical-align: middle !important;    
      font-size: 18px; 
      font-weight: 500; 
      /*background-color: #e3f2fd;  */
  }
  
  td {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;   
}

.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 16px;  
}

.table > tbody > tr > th {
    vertical-align: middle;
}

.table td, .table th {
    min-width: 100px;
}

/* button {
    font-size: 18px;
    display: inline-block;
    height: 36px;
    min-width: 120px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    border-radius: 6px;
    background:#4285F4;
    color: #fff;
    outline: 0;
  } */

  .downloadLink {
    font-size: 16px;
    font-weight: 500;
  }